@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    outline: none;
}

body{
    background: #f1f1f1;
}

section{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background: #111; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fff;
    /* position: relative; */
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    width: 680px;
    /* background: #222; */
    padding: 22px;
    border-radius: 15px;
    gap: 50px;
}

.cont-left{
    display: flex;
    width: 50%;
}

.cont-left .image{
    position: relative;
    width: 100%;
    /* background: url(./images/sing\ up\ page\ 3.webp); */
    height: 400px;
    border-radius: 15px;
    /* background: orange; */

}


.name input[type="text"]{
    width: 90%;
}

.mask .content {
    position: absolute;
    z-index: 2;
    margin: 20px 20px 20px 45px;
    color: #fff;
    display: flex;
    height: 330px;
    flex-direction: column;
    /* gap: 110px; */
    justify-content: space-between;
    align-items: flex-start;
}

.content .info-1 h3{
    margin: 25px 0;
    font-size: 15px;
}

.content .info-1 p{
    font-size: 10px;
    margin-bottom: 15px;
}

.content .info-1 h2{
    font-size: 18px;
    margin-bottom: 15px;
}

.content .info-1 small{
    font-size: 10px;
    line-height: 12px;
}

.content .info-2 p{
    font-size: 11px;
    margin-bottom: 6px;
    cursor: pointer;
}

.content .info-2 span{
    cursor: pointer;
    font-size: 15px;
}

.cont-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 50px; */
    /* text-align: left; */
    width: 50%;
}

.cont-right h3{
    font-size: 22px;
    /* padding: 15px 0; */
}

.sub-heading{
    padding-top: 8px;
    padding-bottom: 16px;
    font-size: 25px;
    color: #333;
    font-weight: 500;
}

.label{
    color: #333;
    font-size: 11px;
    padding: 8px 0;
    padding-left: 2px;
}

.input{
    height: 28px;
    border-radius: 5px;
    margin-bottom: 8px;
    border: 2.5px solid #ddd;
}

.name{
    display: flex;
    gap: 20px;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: 95%;
    padding: 0px 6px;
    font-size: 13px;
}

.show-password{
    display: flex;
    margin: 6px 0;

}

.show-password input[type="checkbox"]{
    /* height: 20px; */
    width: 11px;
    color: #ddd;
    /* border: none; */

}

.show-password p{
    font-size: 11px;
    padding-left: 4px;
    color: #999;
}

button{
    width: 100%;
    margin: 25px 0;
    padding: 9px 8px;
    border-radius: 4px;
    background: #041e2b;
    color: #fff;
    border: none;
    font-size: 12px;
}

.options{
    display: flex;
    /* font-size: 12px; */
    justify-content: flex-start;
    gap: 55px;
}

.options p{
    font-size: 10px;
    display: flex;
    /* justify-content:center; */
    align-items: center;
    /* margin-top: 4px; */
    color: #888;
}

.options .icons{
    font-size: 14px;
    display: flex;
    gap: 12px;
}

.options .icons i{
    position: relative;
}

.options .icons .google{
    top: 6px;
    left: 7px;
}

.options .icons .facebook{
    top: 5px;
    left: 9px;
}

.options .icons .linkedin{
    top: 5px;
    left: 8px;
    font-size: 16px;
}

.options .circle{
    height: 28px;
    width: 28px;
    cursor: pointer;
    border-radius: 25px;
    background: #ffffff;
    box-shadow: -5px 5px 23px #d6d6d6,
                5px -5px 23px #ffffff;
}

@media (max-width : 620px) {
    .container{
        flex-wrap: wrap;
        gap: 10px;
    }

    .cont-left, .cont-right{
        width: 100%;
    }

    .cont-left .image{
        height: 300px;
        /* bottom: 0; */
        margin-top: 170px;
        /* justify-content: none; */
    }

    .mask .content {
        justify-content: flex-start;
        gap: 30px;
    }

    .cont-left .image::after{
        height: 262px;
        /* top: 50%; */
    }

    .name .fname, .name .lname{
        width: 50%;
    }

    .options{
        justify-content: center;
    }
} 


/* grid pattern */

#gridContainer {
  box-sizing: border-box;
  width: 100%;
}

#gridContainer div {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
/*   font-size: 18px; */
  font-size: 32px; /* increased size */
  cursor: pointer;
}

#randomizeBtn{
    width: 100%;
    margin: 0 !important;
    padding: 9px 8px;
    border-radius: 4px;
    background: #041e2b;
    color: #fff;
    border: none;
    font-size: 12px;
}
